/**
** this for first setup
**/
* {
  margin: 0;
  padding: 0;
}

/**
** setup fonts
**/
/** 
** raleway
**/
/*open sans */
@font-face {
  font-family: OpenSans-Bold;
  src: url(".././fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(".././fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: opensans-light;
  src: url(".././fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: opensans-italic;
  src: url(".././fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(".././fonts/OpenSans-SemiBold.ttf");
}

/**
**/
/*montserrat */
@font-face {
  font-family: Montserrat-Bold;
  src: url(".././fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(".././fonts/Montserrat-Regular.ttf");
}

/*roboto*/
@font-face {
  font-family: Roboto-Medium;
  src: url(".././fonts/Roboto-Medium_0.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url(".././fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(".././fonts/Roboto-Bold.ttf");
}

/**


/**
** this for setup variable
**/
/* change option color */
:root {
  --primary: #5CAAF4;
  --color-text-berita: #070707;
  --line-and-side: #FDD34C;
  --text-banner: #FFFFFF;
  --buton: #073C64;
  --footer: #073C64;
  --bg-detail-berita-and-forum: #8E8E8E (9%);
  --color-menu-bar: #0A0A0A;
}

html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

a {
  display: inline-block;
}

.banner {
  width: 100%;
  height: 490px;
  background: url("./../images/bannerompress90.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner .container {
  max-width: 78%;
  margin: 0 auto;
}

.banner .container .text-banner {
  width: 100%;
  text-align: center;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 191px;
  margin-bottom: 0;
}

.banner .container .text-banner span {
  font-family: OpenSans-Regular;
  font-size: 50px;
  color: #FFFFFF;
}

.banner .container .text-banner p {
  font-family: OpenSans-Regular;
  font-size: 20px;
  color: #FFFFFF;
}

.content-one {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 0;
}

.content-one .container {
  max-width: 78%;
  margin: 0 auto;
}

.content-one .container span {
  width: 100%;
  float: left;
  font-family: OpenSans-Regular;
  font-size: 25px;
  color: #2A2A2B;
  text-transform: uppercase;
}

.content-one .container .line {
  width: 167.5px;
  height: 3px;
  background: #FDD34C;
  position: relative;
  float: left;
  margin-top: 10px;
}

.content-one .container p {
  float: left;
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #2A2A2B;
  margin-top: 10.5px;
}

.content-two {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 110px;
  margin-bottom: 0;
}

.content-two .container {
  max-width: 78%;
  margin: 0 auto;
}

.content-two .container .what-one,
.content-two .container .what-two,
.content-two .container .why {
  width: unset;
  float: left;
}

.content-two .container .what-one span,
.content-two .container .what-two span,
.content-two .container .why span {
  font-family: OpenSans-Regular;
  font-size: 20px;
  color: #073C64;
  display: block;
}

.content-two .container .what-one .line,
.content-two .container .what-two .line,
.content-two .container .why .line {
  width: 260px;
  height: 3px;
  background: #FDD34C;
  position: relative;
  float: left;
  margin-top: 10px;
}

.content-two .container .what-one p,
.content-two .container .what-two p,
.content-two .container .why p {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #2A2A2B;
  margin-top: 10px;
}

.content-two .container .what-two {
  margin-left: 136.1px;
  margin-right: 136.1px;
}

.team {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 0;
}

.team .container {
  max-width: 78%;
  margin: 0 auto;
}

.team .container span {
  font-family: OpenSans-Regular;
  font-size: 25px;
  color: #2A2A2B;
  display: block;
}

.team .container .line {
  width: 167.5px;
  height: 3px;
  background: #FDD34C;
  position: relative;
  float: left;
  margin-top: 10px;
}

.team .container .avatar {
  float: left;
  margin-top: 10.5px;
}

.team .container .avatar img {
  float: left;
  display: block;
}

.team .container .avatar .social {
  width: 248px;
  height: 136px;
  background-color: #FFFFFF;
  text-align: center;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  display: block;
  margin-left: 6px;
  margin-right: 6px;
}

.team .container .avatar .social span {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #2A2A2B;
}

.team .container .avatar .social p {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #2A2A2B;
  margin-top: 5px;
}

.team .container .avatar .social .imgSocial {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.team .container .avatar .social .imgSocial svg.twit {
  margin-left: 19px;
  margin-right: 19px;
}
