/**
** this for first setup
**/
* {
  margin: 0;
  padding: 0;
}

/**
** setup fonts
**/
/** 
** raleway
**/
/*open sans */
@font-face {
  font-family: OpenSans-Bold;
  src: url(".././fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(".././fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: opensans-light;
  src: url(".././fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: opensans-italic;
  src: url(".././fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(".././fonts/OpenSans-SemiBold.ttf");
}

/**
**/
/*montserrat */
@font-face {
  font-family: Montserrat-Bold;
  src: url(".././fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(".././fonts/Montserrat-Regular.ttf");
}

/*roboto*/
@font-face {
  font-family: Roboto-Medium;
  src: url(".././fonts/Roboto-Medium_0.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url(".././fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(".././fonts/Roboto-Bold.ttf");
}

/**


/**
** this for setup variable
**/
/* change option color */
:root {
  --primary: #5CAAF4;
  --color-text-berita: #070707;
  --line-and-side: #FDD34C;
  --text-banner: #FFFFFF;
  --buton: #073C64;
  --footer: #073C64;
  --bg-detail-berita-and-forum: #8E8E8E (9%);
  --color-menu-bar: #0A0A0A;
}

.banner {
  width: 100%;
  height: 490px;
  background: url("./../images/bannerompress90.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  display: block;
}

.banner .container {
  max-width: 78%;
  margin: 0 auto;
}

.banner .container .text-banner {
  margin-top: 95px;
  float: left;
}

.banner .container .text-banner span {
  font-family: Montserrat-Bold;
  font-size: 40px;
  color: #FFFFFF;
}

.banner .container .text-banner .text-content-banner {
  float: left;
}

.banner .container .text-banner .text-content-banner span#text-content-banner {
  font-size: 15px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
  line-height: 27px;
}

.banner .container .text-banner .text-content-banner a.btn-banner {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  padding-left: 11.5px;
  padding-right: 11.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 16px;
  margin-top: 17px;
  float: left;
}

.content-hoax {
  width: 100%;
  float: left;
}

.content-hoax .container {
  max-width: 78%;
  margin: 0 auto;
}

.content-hoax .container #content-hoax-left {
  width: 504px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 90px;
  margin-bottom: 0px;
  float: left;
}

.content-hoax .container #content-hoax-left .text-title {
  float: left;
}

.content-hoax .container #content-hoax-left .text-title span#text-title-hoax {
  width: 100%;
  font-size: 30px;
  color: #073C64;
  font-family: Montserrat-Bold;
  float: left;
}

.content-hoax .container #content-hoax-left .text-title .line {
  width: 76px;
  height: 3px;
  background: #FDD34C;
  position: relative;
  float: left;
  margin-top: 10px;
}

.content-hoax .container #content-hoax-left .text-title #text-content-hoax {
  float: left;
  margin-top: 10px;
}

.content-hoax .container #content-hoax-left .text-title #text-content-hoax p {
  font-size: 16px;
  font-family: OpenSans-Regular;
  color: #706666;
}

.content-hoax .container #content-hoax-left .text-title a.btn-readmore {
  font-family: OpenSans-Semibold;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
  background: #073c64;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.content-hoax .container #content-hoax-right {
  float: right;
  margin-left: 0;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 0;
}

.content-hoax .container #content-hoax-right .img-hoax {
  width: 443px;
  height: 290px;
  background-color: #8E8E8E;
}

.berita-utama {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 0;
}

.berita-utama .container {
  max-width: 78%;
  margin: 0 auto;
}

.berita-utama .container .berita-left {
  width: 444px;
  float: left;
}

.berita-utama .container .berita-left span {
  width: 100%;
  font-family: Montserrat-Bold;
  font-size: 30px;
  color: #073C64;
  float: left;
}

.berita-utama .container .berita-left .line {
  width: 76px;
  height: 3px;
  background: #FDD34C;
  float: left;
  position: relative;
  margin-top: 10px;
}

.berita-utama .container .berita-left img#myimg3 {
  float: left;
  width: 444px;
  height: 283px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.berita-utama .container .berita-right {
  width: 504px;
  float: left;
  margin-left: 15px;
  margin-right: 0;
  margin-top: 55px;
  margin-bottom: 0;
}

.berita-utama .container .berita-right .time-berita-utama {
  float: left;
}

.berita-utama .container .berita-right .time-berita-utama span {
  float: left;
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #B7B5B5;
}

.berita-utama .container .berita-right .desc-berita-utama {
  float: left;
}

.berita-utama .container .berita-right .desc-berita-utama p {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: OpenSans-Regular;
  font-size: 24px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}

.berita-utama .container .berita-right .desc-berita-utama p a {
  text-decoration: none;
  cursor: pointer;
  color: #2A2A2B;
  -webkit-transition: .3s;
  transition: .3s;
  float: left;
}

.berita-utama .container .berita-right .desc-berita-utama p a:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

.berita-utama .container .berita-right .desc-berita-utama span {
  color: #706666;
  font-family: OpenSans-Regular;
  font-size: 14px;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 25px;
}

.berita-utama .container .berita-right .desc-berita-utama a.btn-readmore {
  font-family: OpenSans-Semibold;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
  background: #073c64;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.berita-utama .container .pagination {
  display: none;
}

.berita-lainnya {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.berita-lainnya .container {
  max-width: 78%;
  margin: 0 auto;
}

.berita-lainnya .container .content-berita-lainnya {
  width: 100%;
  float: left;
}

.berita-lainnya .container .content-berita-lainnya .low-content-berita-lainnya {
  width: 341px;
  height: 315px;
  float: left;
}

.berita-lainnya .container .content-berita-lainnya .low-content-berita-lainnya img {
  float: left;
  width: 341px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 208px;
}

.berita-lainnya .container .content-berita-lainnya .low-content-berita-lainnya .text-berita-low {
  float: left;
}

.berita-lainnya .container .content-berita-lainnya .low-content-berita-lainnya .text-berita-low p {
  color: #B7B5B5;
  font-family: OpenSans-Regular;
  font-size: 14px;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 0;
}

.berita-lainnya .container .content-berita-lainnya .low-content-berita-lainnya .text-berita-low a {
  text-decoration: none;
  color: #2A2A2B;
  font-family: OpenSans-Regular;
  font-size: 18px;
  text-align: left;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  margin-left: 0;
  margin-right: 0;
  margin-top: 7px;
  margin-bottom: 0;
}

.berita-lainnya .container .content-berita-lainnya .low-content-berita-lainnya a.btn-low {
  float: left;
  font-family: OpenSans-Semibold;
  font-size: 12px;
  color: #073C64;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5.7px;
  margin-bottom: 0;
}

.berita-lainnya .container .content-berita-lainnya .low-content-berita-lainnya:nth-child(2),
.berita-lainnya .container .content-berita-lainnya .low-content-berita-lainnya:nth-child(3) {
  margin-left: 14.6px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}

.berita-lainnya .container a.btn-lainnya {
  width: unset;
  float: left;
  text-decoration: none;
  color: #777777;
  font-family: Montserrat-Regular;
  font-size: 13px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #C6C6C6;
  margin-left: 465px;
  margin-right: 465px;
  margin-top: 30px;
}

.gallery {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 0;
}

.gallery .pagination,
.gallery .pagination1,
.gallery .pagination2 {
  display: none;
}

.gallery .container {
  max-width: 78%;
  margin: 0 auto;
}

.gallery .container span {
  width: 100%;
  font-family: Montserrat-Bold;
  font-size: 30px;
  float: left;
  color: #073C64;
}

.gallery .container .line {
  width: 76px;
  height: 3px;
  background: #FDD34C;
  display: block;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.gallery .container .gal-img {
  width: 100%;
  float: left;
}

.gallery .container .gal-img .img-top {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.gallery .container .gal-img .img-top img#myimg7,
.gallery .container .gal-img .img-top img#myimg8 {
  width: 518.1px;
  height: 279px;
  float: left;
}

.gallery .container .gal-img .img-top img#myimg8 {
  margin-left: 16px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.gallery .container .gal-img .img-bottom {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 18px;
  margin-bottom: 0;
}

.gallery .container .gal-img .img-bottom img#myimg9,
.gallery .container .gal-img .img-bottom img#myimg10,
.gallery .container .gal-img .img-bottom img#myimg11,
.gallery .container .gal-img .img-bottom img#myimg12 {
  width: 250.99px;
  height: 200px;
  float: left;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.gallery .container .gal-img .img-bottom img#myimg10,
.gallery .container .gal-img .img-bottom img#myimg11,
.gallery .container .gal-img .img-bottom img#myimg12 {
  margin-left: 16px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.gallery .container a.btn-gallery {
  width: unset;
  float: left;
  text-decoration: none;
  color: #777777;
  font-family: Montserrat-Regular;
  font-size: 13px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #C6C6C6;
  margin-left: 465px;
  margin-right: 465px;
  margin-top: 30px;
}

.video {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 0;
}

.video .container {
  max-width: 78%;
  margin: 0 auto;
}

.video .container .tvideo {
  width: 100%;
  float: left;
}

.video .container .tvideo span {
  width: 100%;
  font-family: Montserrat-Bold;
  font-size: 30px;
  float: left;
  color: #073C64;
}

.video .container .tvideo .line {
  width: 76px;
  height: 3px;
  background: #FDD34C;
  display: block;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.video .container .vid {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 0;
  float: left;
  cursor: default;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  vertical-align: middle;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
}

.video .container .vid img {
  width: unset;
  height: unset;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: relative;
  float: left;
}

.video .container .vid img.hitam {
  width: 100%;
  height: 600px;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  float: left;
  -o-object-position: center;
  object-position: center;
  margin-top: -5px;
}

.video .container .vid img#thumb {
  width: 100%;
  height: 600px;
  position: relative;
  float: left;
  -o-object-fit: cover;
  object-fit: cover;
}

.video .container .vid .video-click {
  position: absolute;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin-left: 490px;
  margin-right: 490px;
}

.video .container .vid .video-click img {
  position: absolute;
  z-index: 5;
  width: 90px;
  cursor: pointer;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.video .container .vid .video-click img:hover {
  width: 80px;
  -webkit-transition: .4s;
  transition: .4s;
}

.video .container a.btn-video {
  width: unset;
  float: left;
  text-decoration: none;
  color: #777777;
  font-family: Montserrat-Regular;
  font-size: 13px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #C6C6C6;
  margin-left: 465px;
  margin-right: 465px;
  margin-top: 30px;
}

.popup-area {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: none;
  z-index: 9;
  top: 0;
  float: left;
  cursor: pointer;
}

.popup-area .popup-wrapper {
  position: relative;
}

.popup-area .popup-wrapper .popup-vid {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  vertical-align: middle;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 90%;
  height: 90vh;
  background: #fff;
  z-index: 11;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  cursor: default;
}

.popup-area .popup-wrapper .popup-vid .close-vid {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
}

.popup-area .popup-wrapper .popup-vid .close-vid img {
  width: 90%;
  margin: 0 auto;
}

.popup-area .popup-wrapper .popup-vid video.vids-1 {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  outline: none;
}

.activex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  float: left;
  vertical-align: middle;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
  z-index: 999999;
}

img.lazy {
  display: block;
  background-image: url("../images/loader.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.image-millens {
  margin: 0;
  border: 0;
}
