/**
** this for first setup
**/
* {
  margin: 0;
  padding: 0;
}

/**
** setup fonts
**/
/** 
** raleway
**/
/*open sans */
@font-face {
  font-family: OpenSans-Bold;
  src: url(".././fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(".././fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: opensans-light;
  src: url(".././fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: opensans-italic;
  src: url(".././fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(".././fonts/OpenSans-SemiBold.ttf");
}

/**
**/
/*montserrat */
@font-face {
  font-family: Montserrat-Bold;
  src: url(".././fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(".././fonts/Montserrat-Regular.ttf");
}

/*roboto*/
@font-face {
  font-family: Roboto-Medium;
  src: url(".././fonts/Roboto-Medium_0.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url(".././fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(".././fonts/Roboto-Bold.ttf");
}

/**


/**
** this for setup variable
**/
/* change option color */
:root {
  --primary: #5CAAF4;
  --color-text-berita: #070707;
  --line-and-side: #FDD34C;
  --text-banner: #FFFFFF;
  --buton: #073C64;
  --footer: #073C64;
  --bg-detail-berita-and-forum: #8E8E8E (9%);
  --color-menu-bar: #0A0A0A;
}

html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

a {
  display: inline-block;
}

.gallery {
  width: 100%;
  float: left;
}

.gallery .container {
  max-width: 78%;
  margin: 0 auto;
}

.gallery .container span {
  width: 100%;
  float: left;
  font-family: Montserrat-Bold;
  font-size: 30px;
  color: #073C64;
  margin-top: 30px;
}

.gallery .container .line {
  width: 78px;
  height: 4px;
  background: #FDD34C;
  margin-top: 10px;
  float: left;
}

.gallery .container .gall {
  width: 100%;
  float: left;
}

.gallery .container .gall a {
  margin-top: 10px;
  margin-bottom: 4px;
}

.gallery .container .gall a:nth-child(1) {
  font-family: Montserrat-Bold;
  font-size: 19px;
  color: #073C64;
  text-decoration: none;
  float: left;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.gallery .container .gall a:nth-child(1):hover {
  color: #BFBFBF;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.gallery .container .gall a:nth-child(2) {
  font-family: Montserrat-Bold;
  font-size: 19px;
  color: #BFBFBF;
  text-decoration: none;
  margin-left: 15px;
  float: left;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.gallery .container .gall a:nth-child(2):hover {
  color: #073C64;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.gallery .container .gall .slide1,
.gallery .container .gall .slide2,
.gallery .container .gall .slide3,
.gallery .container .gall .slide4,
.gallery .container .gall .slide5,
.gallery .container .gall .slide6,
.gallery .container .gall .slide7,
.gallery .container .gall .slide8 {
  width: 100%;
  float: left;
  margin-top: 16px;
}

.gallery .container .gall .slide1 img,
.gallery .container .gall .slide2 img,
.gallery .container .gall .slide3 img,
.gallery .container .gall .slide4 img,
.gallery .container .gall .slide5 img,
.gallery .container .gall .slide6 img,
.gallery .container .gall .slide7 img,
.gallery .container .gall .slide8 img {
  width: 251px;
  height: 170px;
  float: left;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.gallery .container .gall .slide1 img:nth-child(2),
.gallery .container .gall .slide1 img:nth-child(3),
.gallery .container .gall .slide1 img:nth-child(4),
.gallery .container .gall .slide2 img:nth-child(2),
.gallery .container .gall .slide2 img:nth-child(3),
.gallery .container .gall .slide2 img:nth-child(4),
.gallery .container .gall .slide3 img:nth-child(2),
.gallery .container .gall .slide3 img:nth-child(3),
.gallery .container .gall .slide3 img:nth-child(4),
.gallery .container .gall .slide4 img:nth-child(2),
.gallery .container .gall .slide4 img:nth-child(3),
.gallery .container .gall .slide4 img:nth-child(4),
.gallery .container .gall .slide5 img:nth-child(2),
.gallery .container .gall .slide5 img:nth-child(3),
.gallery .container .gall .slide5 img:nth-child(4),
.gallery .container .gall .slide6 img:nth-child(2),
.gallery .container .gall .slide6 img:nth-child(3),
.gallery .container .gall .slide6 img:nth-child(4),
.gallery .container .gall .slide7 img:nth-child(2),
.gallery .container .gall .slide7 img:nth-child(3),
.gallery .container .gall .slide7 img:nth-child(4),
.gallery .container .gall .slide8 img:nth-child(2),
.gallery .container .gall .slide8 img:nth-child(3),
.gallery .container .gall .slide8 img:nth-child(4) {
  margin-left: 16px;
}
