/**
** this for first setup
**/
* {
  margin: 0;
  padding: 0;
}

/**
** setup fonts
**/
/** 
** raleway
**/
/*open sans */
@font-face {
  font-family: OpenSans-Bold;
  src: url(".././fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(".././fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: opensans-light;
  src: url(".././fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: opensans-italic;
  src: url(".././fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(".././fonts/OpenSans-SemiBold.ttf");
}

/**
**/
/*montserrat */
@font-face {
  font-family: Montserrat-Bold;
  src: url(".././fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(".././fonts/Montserrat-Regular.ttf");
}

/*roboto*/
@font-face {
  font-family: Roboto-Medium;
  src: url(".././fonts/Roboto-Medium_0.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url(".././fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(".././fonts/Roboto-Bold.ttf");
}

/**


/**
** this for setup variable
**/
/* change option color */
:root {
  --primary: #5CAAF4;
  --color-text-berita: #070707;
  --line-and-side: #FDD34C;
  --text-banner: #FFFFFF;
  --buton: #073C64;
  --footer: #073C64;
  --bg-detail-berita-and-forum: #8E8E8E (9%);
  --color-menu-bar: #0A0A0A;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.fl-none {
  float: none;
}

.f-10 {
  font-size: 10;
}

.f-11 {
  font-size: 11;
}

.f-12 {
  font-size: 12;
}

.f-13 {
  font-size: 13;
}

.f-14 {
  font-size: 14;
}

.f-15 {
  font-size: 15;
}

.f-16 {
  font-size: 16;
}

.f-17 {
  font-size: 17;
}

.f-18 {
  font-size: 18;
}

.f-19 {
  font-size: 19;
}

.f-20 {
  font-size: 20;
}

.f-21 {
  font-size: 21;
}

.f-22 {
  font-size: 22;
}

.f-23 {
  font-size: 23;
}

.f-24 {
  font-size: 24;
}

.f-25 {
  font-size: 25;
}

.f-26 {
  font-size: 26;
}

.f-27 {
  font-size: 27;
}

.f-28 {
  font-size: 28;
}

.f-29 {
  font-size: 29;
}

.f-30 {
  font-size: 30;
}

.f-31 {
  font-size: 31;
}

.f-32 {
  font-size: 32;
}

.f-33 {
  font-size: 33;
}

.f-34 {
  font-size: 34;
}

.f-35 {
  font-size: 35;
}

.f-36 {
  font-size: 36;
}

.f-37 {
  font-size: 37;
}

.f-38 {
  font-size: 38;
}

.f-39 {
  font-size: 39;
}

.f-40 {
  font-size: 40;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.d-inline {
  display: inline;
}

.d-i-flex {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.ov-h {
  overflow: hidden;
}

.ov-s {
  overflow: scroll;
}

.ov-a {
  overflow: auto;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

a {
  display: inline-block;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(".././fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(".././fonts/Montserrat-Regular.ttf");
}

.box {
  width: 100%;
  height: 100vh;
  float: left;
}

.box .content-left {
  width: 40%;
  height: 100vh;
  float: left;
}

.box .content-left .left {
  width: 276px;
  height: unset;
  padding-left: 139px;
  padding-right: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  float: left;
  position: relative;
}

.box .content-left .left .title {
  float: left;
}

.box .content-left .left .title .logo {
  width: 100%;
  float: left;
}

.box .content-left .left .title .logo img {
  width: 39px;
  height: 40px;
  float: left;
  margin-right: 5px;
}

.box .content-left .left .title .logo span {
  float: left;
  font-family: Montserrat-Regular;
  font-size: 25px;
  color: #073C64;
  text-transform: uppercase;
  margin-top: 5px;
}

.box .content-left .left .title .welcome {
  float: left;
}

.box .content-left .left .title .welcome span {
  font-family: OpenSans-Regular;
  font-size: 30px;
  color: #2A2A2B;
}

.box .content-left .left .title .welcome p {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #BCBCBC;
}

.box .content-left .left .name {
  float: left;
  position: relative;
  margin-top: 15px;
}

.box .content-left .left .name .name-front,
.box .content-left .left .name .name-back {
  float: left;
  position: relative;
}

.box .content-left .left .name .name-front span,
.box .content-left .left .name .name-back span {
  width: 100%;
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #515151;
  float: left;
}

.box .content-left .left .name .name-front input,
.box .content-left .left .name .name-back input {
  float: left;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 270px;
  outline: none;
  border: 1px solid #BCBCBC;
  background: transparent;
  margin-top: 8px;
  padding-left: 9px;
}

.box .content-left .left .name .name-front input::-webkit-input-placeholder::-webkit-input-placeholder,
.box .content-left .left .name .name-back input::-webkit-input-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #BCBCBC;
}

.box .content-left .left .name .name-front input::-moz-placeholder::-webkit-input-placeholder,
.box .content-left .left .name .name-back input::-moz-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #BCBCBC;
}

.box .content-left .left .name .name-front input:-ms-input-placeholder::-webkit-input-placeholder,
.box .content-left .left .name .name-back input:-ms-input-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #BCBCBC;
}

.box .content-left .left .name .name-front input:-moz-placeholder::-webkit-input-placeholder,
.box .content-left .left .name .name-back input:-moz-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #BCBCBC;
}

.box .content-left .left .name .name-back {
  margin-top: 15px;
}

.box .content-left .left .email,
.box .content-left .left .pass {
  position: relative;
  float: left;
  margin-top: 15px;
}

.box .content-left .left .email span,
.box .content-left .left .pass span {
  width: 100%;
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #515151;
  float: left;
}

.box .content-left .left .email input,
.box .content-left .left .pass input {
  float: left;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 270px;
  outline: none;
  border: 1px solid #BCBCBC;
  background: transparent;
  margin-top: 8px;
  padding-left: 9px;
}

.box .content-left .left .email input::-webkit-input-placeholder::-webkit-input-placeholder,
.box .content-left .left .pass input::-webkit-input-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #BCBCBC;
}

.box .content-left .left .email input::-moz-placeholder::-webkit-input-placeholder,
.box .content-left .left .pass input::-moz-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #BCBCBC;
}

.box .content-left .left .email input:-ms-input-placeholder::-webkit-input-placeholder,
.box .content-left .left .pass input:-ms-input-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #BCBCBC;
}

.box .content-left .left .email input:-moz-placeholder::-webkit-input-placeholder,
.box .content-left .left .pass input:-moz-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #BCBCBC;
}

.box .content-left .left .ttl {
  float: left;
  margin-top: 15px;
}

.box .content-left .left .ttl span {
  width: 100%;
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #515151;
  float: left;
}

.box .content-left .left .ttl select#tgl,
.box .content-left .left .ttl select#month,
.box .content-left .left .ttl select#years {
  float: left;
  padding-top: 6px;
  padding-bottom: 6px;
  background: transparent;
  border: 1px solid #BCBCBC;
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #BCBCBC;
  outline: none;
  margin-top: 8px;
  padding-left: 5px;
}

.box .content-left .left .ttl select#tgl option,
.box .content-left .left .ttl select#month option,
.box .content-left .left .ttl select#years option {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #BCBCBC;
  text-align: center;
}

.box .content-left .left .ttl select#month {
  width: 93px;
}

.box .content-left .left .ttl select#tgl,
.box .content-left .left .ttl select#years {
  width: 81px;
  margin-left: 10px;
}

.box .content-left .left .ttl .confirm {
  float: left;
  margin-top: 11px;
}

.box .content-left .left .ttl .confirm input {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #BCBCBC;
  float: left;
}

.box .content-left .left .ttl .confirm p {
  font-family: OpenSans-Regular;
  font-size: 13px;
  float: left;
  margin-left: 5px;
  color: #BCBCBC;
  margin-top: -4px;
}

.box .content-left .left a#regis {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background-color: #073C64;
  float: left;
  font-size: 15px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 276px;
  margin-top: 11px;
}

.box .content-left .left .question {
  float: left;
  margin-top: 16px;
}

.box .content-left .left .question span {
  font-family: OpenSans-Regular;
  font-size: 13px;
  float: left;
  color: #BCBCBC;
  letter-spacing: 2px;
}

.box .content-left .left .question p {
  font-family: OpenSans-Regular;
  font-size: 13px;
  cursor: pointer;
  color: #073C64;
  float: left;
  letter-spacing: 2px;
}

.box .content-left .left .question p a {
  text-decoration: none;
  margin-left: 10px;
  float: left;
  color: #073C64;
}

.box .content-right {
  width: 60%;
  height: 100vh;
  float: right;
}

.box .content-right img {
  float: left;
  width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}
