/**
** this for first setup
**/
* {
  margin: 0;
  padding: 0;
}

/**
** setup fonts
**/
/** 
** raleway
**/
/*open sans */
@font-face {
  font-family: OpenSans-Bold;
  src: url(".././fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(".././fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: opensans-light;
  src: url(".././fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: opensans-italic;
  src: url(".././fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(".././fonts/OpenSans-SemiBold.ttf");
}

/**
**/
/*montserrat */
@font-face {
  font-family: Montserrat-Bold;
  src: url(".././fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(".././fonts/Montserrat-Regular.ttf");
}

/*roboto*/
@font-face {
  font-family: Roboto-Medium;
  src: url(".././fonts/Roboto-Medium_0.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url(".././fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(".././fonts/Roboto-Bold.ttf");
}

/**


/**
** this for setup variable
**/
/* change option color */
:root {
  --primary: #5CAAF4;
  --color-text-berita: #070707;
  --line-and-side: #FDD34C;
  --text-banner: #FFFFFF;
  --buton: #073C64;
  --footer: #073C64;
  --bg-detail-berita-and-forum: #8E8E8E (9%);
  --color-menu-bar: #0A0A0A;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.fl-none {
  float: none;
}

.f-10 {
  font-size: 10;
}

.f-11 {
  font-size: 11;
}

.f-12 {
  font-size: 12;
}

.f-13 {
  font-size: 13;
}

.f-14 {
  font-size: 14;
}

.f-15 {
  font-size: 15;
}

.f-16 {
  font-size: 16;
}

.f-17 {
  font-size: 17;
}

.f-18 {
  font-size: 18;
}

.f-19 {
  font-size: 19;
}

.f-20 {
  font-size: 20;
}

.f-21 {
  font-size: 21;
}

.f-22 {
  font-size: 22;
}

.f-23 {
  font-size: 23;
}

.f-24 {
  font-size: 24;
}

.f-25 {
  font-size: 25;
}

.f-26 {
  font-size: 26;
}

.f-27 {
  font-size: 27;
}

.f-28 {
  font-size: 28;
}

.f-29 {
  font-size: 29;
}

.f-30 {
  font-size: 30;
}

.f-31 {
  font-size: 31;
}

.f-32 {
  font-size: 32;
}

.f-33 {
  font-size: 33;
}

.f-34 {
  font-size: 34;
}

.f-35 {
  font-size: 35;
}

.f-36 {
  font-size: 36;
}

.f-37 {
  font-size: 37;
}

.f-38 {
  font-size: 38;
}

.f-39 {
  font-size: 39;
}

.f-40 {
  font-size: 40;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.d-inline {
  display: inline;
}

.d-i-flex {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.ov-h {
  overflow: hidden;
}

.ov-s {
  overflow: scroll;
}

.ov-a {
  overflow: auto;
}

html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #FFFFFF;
}

body {
  overflow: hidden;
}

a {
  display: inline-block;
}

.current {
  color: #073C64 !important;
}

.navbar-sm {
  position: fixed;
  bottom: 0;
  top: 0;
  background: #fff;
  width: 40%;
  z-index: 2;
  display: none;
}

.menu-toggle {
  width: 31px;
  height: 21.07px;
  float: left;
  position: relative;
  display: none;
}

.menu-toggle .one,
.menu-toggle .two,
.menu-toggle .three {
  width: 100%;
  height: 4px;
  float: left;
  background: #000000;
}

.menu-toggle .two,
.menu-toggle .three {
  margin-top: 3px;
}

header {
  width: 100%;
  height: 97px;
  background: #fff;
}

header .fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  -webkit-transition: .5s;
  transition: .5s;
}

header .social-media {
  width: 100%;
  height: 35px;
  background-color: #073C64;
  position: relative;
}

header .social-media .container {
  max-width: 78%;
  margin: 0 auto;
}

header .social-media .container .left {
  float: left;
  width: 320px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}

header .social-media .container .left .phone {
  width: 90px;
  height: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

header .social-media .container .left .phone img {
  width: 20px;
  height: 20px;
}

header .social-media .container .left .phone span {
  font-size: 12px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
  padding-left: 5px;
  padding-top: 2px !important;
}

header .social-media .container .left .email {
  width: 159px;
  height: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-left: 15px;
}

header .social-media .container .left .email img {
  width: 20px;
  height: 20px;
}

header .social-media .container .left .email span {
  font-size: 12px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
  padding-left: 5px;
  padding-top: 2px;
}

header .social-media .right {
  float: right;
  width: unset;
  padding-top: 8px;
  padding-bottom: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

header .social-media .right .fb {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

header .social-media .right .fb img {
  height: 100%;
}

header .social-media .right .twiter {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
}

header .social-media .right .twiter img {
  height: 100%;
}

header .social-media .right .ig {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
}

header .social-media .right .ig img {
  height: 100%;
}

header .navbar {
  width: 100%;
  height: 62px;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 9;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
}

header .navbar .container {
  max-width: 78%;
  margin: 0 auto;
}

header .navbar .container a {
  float: left;
}

header .navbar .container a .logo {
  width: unset;
  height: unset;
  margin-top: 18.5px;
  margin-bottom: 18.5px;
  float: left;
}

header .navbar .container a .logo #logo-img {
  float: left;
  cursor: pointer;
  width: unset;
  height: unset;
}

header .navbar .container a .logo #logo-img img {
  width: 25px;
  height: 25px;
}

header .navbar .container a .logo #logo-text {
  float: left;
  margin-left: 5px;
  cursor: pointer;
}

header .navbar .container a .logo #logo-text span {
  float: left;
  font-family: OpenSans-Regular;
  font-size: 17px;
  color: #073C64;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2px;
  margin-bottom: 3px;
}

header .navbar .container .menu-bar {
  width: unset;
  height: unset;
  float: left;
  position: relative;
  margin-left: 186.8px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

header .navbar .container .menu-bar ul {
  display: -webkit-box;
  margin-top: 22px;
  margin-bottom: 22px;
}

header .navbar .container .menu-bar ul li {
  list-style: none;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  color: var(--color-menu-bar);
  cursor: pointer;
  -webkit-transition: .35s;
  transition: .35s;
}

header .navbar .container .menu-bar ul li a {
  font-family: OpenSans-Regular;
  font-size: 14px;
}

header .navbar .container .menu-bar ul li:nth-child(1) {
  width: unset;
  height: unset;
}

header .navbar .container .menu-bar ul li:nth-child(1) a {
  text-decoration: none;
  color: var(--color-menu-bar);
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(1) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(2) {
  width: unset;
  height: unset;
  margin-left: 39px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

header .navbar .container .menu-bar ul li:nth-child(2) a {
  text-decoration: none;
  color: var(--color-menu-bar);
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(2) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(3) {
  width: unset;
  height: unset;
  margin-left: 39px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

header .navbar .container .menu-bar ul li:nth-child(3) a {
  text-decoration: none;
  color: var(--color-menu-bar);
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(3) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(4) {
  width: unset;
  height: unset;
  margin-left: 39px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-menu-bar);
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(4) a {
  text-decoration: none;
  color: var(--color-menu-bar);
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(4) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:hover:nth-child(4) {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(5) {
  width: unset;
  height: unset;
  margin-left: 39px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-menu-bar);
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(5) a {
  text-decoration: none;
  color: var(--color-menu-bar);
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(5) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:hover:nth-child(5) {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .search {
  width: unset;
  height: unset;
  float: left;
  position: relative;
  margin-left: 59.9px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

header .navbar .container .search img {
  float: left;
  width: 17.61px;
  height: 17.61px;
  margin-left: 22.2px;
  margin-right: 0;
  margin-top: 22.2px;
  margin-bottom: 0;
}

header .navbar .container .leanguage {
  width: unset;
  height: unset;
  float: left;
  margin-left: 50px;
  margin-right: 0;
  margin-top: 21px;
  margin-bottom: 21px;
}

header .navbar .container .leanguage ul {
  width: unset;
  height: unset;
  float: left;
}

header .navbar .container .leanguage ul li {
  list-style: none;
}

header .navbar .container .leanguage ul li.popup-trigger {
  display: block;
}

header .navbar .container .leanguage ul li.popup-trigger img.imgDropdown {
  width: 7.97px;
  height: 8px;
  margin-left: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
}

header .navbar .container .leanguage ul li.popup-trigger img:hover.imgDropdown {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

header .navbar .container .leanguage ul li.popup-trigger .popup-content {
  display: block;
  background: #fefefe;
  position: absolute;
  width: 80px;
  height: 70px;
  margin-left: -55px;
  margin-right: 0;
  margin-top: 25px;
  margin-bottom: 0;
  -webkit-box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, 0.05);
}

header .navbar .container .leanguage ul li.popup-trigger .popup-content ul:nth-child(1) {
  float: left;
  display: block;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 10.9px;
  margin-bottom: 0;
}

header .navbar .container .leanguage ul li.popup-trigger .popup-content ul:nth-child(1) li {
  font-family: OpenSans-Regular;
  font-size: 14px;
  float: left;
}

header .navbar .container .leanguage ul li.popup-trigger .popup-content ul:nth-child(1) li:nth-child(1) {
  float: left;
}

header .navbar .container .leanguage ul li.popup-trigger .popup-content ul:nth-child(1) li:nth-child(1) .dImg {
  float: left;
}

header .navbar .container .leanguage ul li.popup-trigger .popup-content ul:nth-child(1) li:nth-child(2) {
  margin-left: 5px;
  margin-top: -1px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

header .navbar .container .leanguage ul li.popup-trigger .popup-content ul:nth-child(2) {
  float: left;
  display: block;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}

header .navbar .container .leanguage ul li.popup-trigger .popup-content ul:nth-child(2) li {
  font-family: OpenSans-Regular;
  font-size: 14px;
  float: left;
}

header .navbar .container .leanguage ul li.popup-trigger .popup-content ul:nth-child(2) li:nth-child(1) {
  float: left;
}

header .navbar .container .leanguage ul li.popup-trigger .popup-content ul:nth-child(2) li:nth-child(1) .dImg {
  float: left;
}

header .navbar .container .leanguage ul li.popup-trigger .popup-content ul:nth-child(2) li:nth-child(2) {
  margin-left: 5px;
  margin-top: -1px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

header .navbar .container .leanguage ul .popup-active {
  display: block !important;
  margin-top: 30px;
}

header .navbar .container .leanguage ul li:nth-child(1) {
  float: left;
}

header .navbar .container .leanguage ul li:nth-child(2) {
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: relative;
}

header .navbar .container .logOrRegist {
  float: right;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 18px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .navbar .container .logOrRegist a {
  font-size: 12px;
  color: #FDD34C;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  text-decoration: none;
}

header .navbar .container .logOrRegist a .btn-login {
  background-color: #073C64;
  font-family: OpenSans-Regular;
  float: left;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
}

header .navbar .container .logOrRegist .btn-login:hover {
  opacity: .9;
  -webkit-transition: .75s;
  transition: .75s;
}

header .navbar .container .logOrRegist .btn-login:hover a:hover {
  -webkit-transition: .5s;
  transition: .5s;
}

footer {
  width: 100%;
  height: 213px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 0;
  background: var(--footer);
  position: relative;
  float: left;
}

footer .container-two {
  max-width: 78%;
  margin: 0 auto;
}

footer .container-two .footer-menu {
  float: left;
  padding-top: 25px;
}

footer .container-two .footer-menu .desc {
  width: 260px;
  float: left;
}

footer .container-two .footer-menu .desc .logo-footer {
  float: left;
}

footer .container-two .footer-menu .desc .logo-footer img {
  float: left;
  display: block;
}

footer .container-two .footer-menu .desc .logo-footer span {
  display: block;
  font-family: OpenSans-Regular;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  float: left;
  margin-left: 5.2px;
  margin-top: 2px;
}

footer .container-two .footer-menu .desc p.txt-desc {
  float: left;
  display: block;
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 3.5px;
}

footer .container-two .footer-menu .desc p.copyright {
  float: left;
  display: block;
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 44px;
}

footer .container-two .footer-menu .menu {
  float: left;
  margin-left: 16px;
}

footer .container-two .footer-menu .menu li {
  color: #FFFFFF;
  list-style: none;
}

footer .container-two .footer-menu .menu li:nth-child(1) {
  font-size: 16px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .menu li.span-footer {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #DEDEDE;
  padding-top: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

footer .container-two .footer-menu .menu li.span-footer a {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #DEDEDE;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .container-two .footer-menu .menu li.span-footer a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
}

footer .container-two .footer-menu .menu li.span-footer:nth-child(1) {
  padding-top: 5px;
}

footer .container-two .footer-menu .contact {
  float: left;
  margin-left: 24px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

footer .container-two .footer-menu .contact li {
  list-style: none;
  cursor: pointer;
}

footer .container-two .footer-menu .contact li:nth-child(1) {
  font-size: 16px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .contact li:nth-child(2),
footer .container-two .footer-menu .contact li:nth-child(3) {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #DEDEDE;
  padding-top: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .container-two .footer-menu .contact li:nth-child(2),
footer .container-two .footer-menu .contact li:nth-child(3) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
}

footer .container-two .footer-menu .followers {
  float: left;
  margin-left: 62px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

footer .container-two .footer-menu .followers li {
  list-style: none;
  cursor: pointer;
}

footer .container-two .footer-menu .followers li:nth-child(1) {
  font-size: 16px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .followers li:nth-child(2),
footer .container-two .footer-menu .followers li:nth-child(3),
footer .container-two .footer-menu .followers li:nth-child(4),
footer .container-two .footer-menu .followers li:nth-child(5) {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: #DEDEDE;
  padding-top: 4px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

footer .container-two .footer-menu .followers li:nth-child(2):hover,
footer .container-two .footer-menu .followers li:nth-child(3):hover,
footer .container-two .footer-menu .followers li:nth-child(4):hover,
footer .container-two .footer-menu .followers li:nth-child(5):hover {
  color: #ffffff;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

footer .container-two .footer-menu .notive {
  float: left;
  margin-left: 133px;
}

footer .container-two .footer-menu .notive li {
  list-style: none;
  cursor: pointer;
}

footer .container-two .footer-menu .notive li:nth-child(1) {
  font-size: 16px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .notive li:nth-child(2) {
  margin-top: 12px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

footer .container-two .footer-menu .notive li:nth-child(2) input {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding-left: 10px;
  padding-right: 150px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  outline: none;
  color: #FFFFFF;
}

footer .container-two .footer-menu .notive li:nth-child(2) input::-webkit-input-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #FFFFFF;
}

footer .container-two .footer-menu .notive li:nth-child(2) input::-moz-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #FFFFFF;
}

footer .container-two .footer-menu .notive li:nth-child(2) input:-ms-input-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #FFFFFF;
}

footer .container-two .footer-menu .notive li:nth-child(2) input:-moz-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #FFFFFF;
}

footer .container-two .footer-menu .notive .btn-notive {
  margin-top: 10.4px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 1s;
  transition: 1s;
}

footer .container-two .footer-menu .notive .btn-notive a {
  font-family: OpenSans-Regular;
  font-size: 11px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 7.5px;
  padding-bottom: 7.4px;
  background: #056D8B;
}

footer .container-two .footer-menu .notive .btn-notive a span {
  text-transform: uppercase;
}

@media screen and (max-width: 360px) {
  header {
    width: 100vw !important;
    height: 62px !important;
    position: relative;
  }
  header .social-media {
    display: none !important;
  }
  header .navbar {
    width: 100vw !important;
    height: 62px !important;
    position: relative;
  }
  header .navbar .container {
    max-width: 284px !important;
    margin: 0 auto;
    position: relative;
  }
  header .navbar .container a#logos {
    margin-left: 0;
  }
  header .navbar .container a#logos .logo {
    width: 116.89px !important;
    height: 25.61px !important;
    margin-top: 18.2px !important;
    max-height: 18.2px !important;
  }
  header .navbar .container a#logos .logo #logo-img {
    width: 24.69px !important;
    height: 25.61px !important;
  }
  header .navbar .container a#logos .logo #logo-img img {
    width: 100%;
    height: 100%;
  }
  header .navbar .container .menu-bar,
  header .navbar .container .search,
  header .navbar .container .leanguage,
  header .navbar .container .logOrRegist {
    display: none !important;
  }
  header .navbar .container #sidebar {
    display: block;
  }
  header .navbar .container #sidebar .menu-toggle {
    display: inline-block !important;
    position: relative;
    right: 0 !important;
    float: right !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .banner {
    width: 100vw !important;
    height: 167px !important;
    float: left;
    background-size: 100% 167px !important;
  }
  .banner .container {
    max-width: 284px !important;
    margin: 0 auto;
    position: relative;
  }
  .banner .container .text-banner {
    width: 100% !important;
    height: 120px !important;
    float: left;
    padding-top: 41px !important;
  }
  .banner .container .text-banner span {
    width: 100% !important;
    height: 18px !important;
    font-size: 14px !important;
    float: left;
  }
  .banner .container .text-banner .text-content-banner {
    display: none;
  }
  .content-hoax {
    width: 100vw;
    height: 151px;
    background: #FFFFFF !important;
  }
  .content-hoax .container {
    max-width: 284px !important;
    margin: 0 auto;
  }
  .content-hoax .container #content-hoax-left {
    width: 162px !important;
    height: 90px !important;
    float: left;
    padding-top: 28.5px;
  }
  .content-hoax .container #content-hoax-left .text-title {
    width: 101px !important;
    height: 24.46px !important;
  }
  .content-hoax .container #content-hoax-left .text-title span#text-title-hoax {
    font-size: 14px;
  }
  .content-hoax .container #content-hoax-left .text-title #text-content-hoax {
    width: 162px !important;
    height: 60px !important;
    float: left;
    padding-top: 15px !important;
    padding-bottom: 8px !important;
  }
  .content-hoax .container #content-hoax-left .text-title #text-content-hoax span {
    width: 162px !important;
    height: 60px !important;
    font-size: 10px !important;
    float: left;
    color: #706666 !important;
  }
  .content-hoax .container #content-hoax-left .text-title #text-content-hoax span a {
    display: none;
  }
  .content-hoax .container #content-hoax-left .text-title .btn-readMore-hoax {
    width: 67px !important;
    height: 16px !important;
    float: left;
    margin-top: 0 !important;
  }
  .content-hoax .container #content-hoax-left .text-title .btn-readMore-hoax span#text-btn-readMore-hoax {
    padding: 0 !important;
  }
  .content-hoax .container #content-hoax-left .text-title .btn-readMore-hoax span#text-btn-readMore-hoax a {
    font-size: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    margin-left: 10px !important;
    margin-right: 10.5px !important;
  }
  .content-hoax .container #content-hoax-right {
    width: 114px !important;
    height: 83px !important;
    padding-top: 60px !important;
    float: right !important;
  }
  .content-hoax .container #content-hoax-right .side-top-right, .content-hoax .container #content-hoax-right .side-bottom-left {
    display: none !important;
  }
  .content-hoax .container #content-hoax-right .img-hoax {
    width: 114px !important;
    height: 83px !important;
    margin-left: 0;
  }
  .content-hoax .container #content-hoax-right .img-hoax img {
    width: 100% !important;
    height: 100% !important;
  }
  .berita-utama {
    width: 100vw !important;
    height: 347px !important;
    float: left;
    margin-top: 25.5px !important;
  }
  .berita-utama .container {
    max-width: 284px !important;
    margin: 0 auto;
  }
  .berita-utama .container .berita-left {
    width: 100% !important;
    height: 215.5px !important;
    position: relative;
    display: block;
  }
  .berita-utama .container .berita-left span {
    width: 98px !important;
    height: 24.5px !important;
    font-size: 14px !important;
  }
  .berita-utama .container .berita-left img {
    width: 100% !important;
    height: 172.30px !important;
    padding-top: 14.8px !important;
  }
  .berita-utama .container .berita-right {
    width: 100% !important;
    height: 86px !important;
  }
  .berita-utama .container .berita-right .time-berita-utama {
    width: 165px !important;
    height: 14px !important;
    float: left;
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
  .berita-utama .container .berita-right .time-berita-utama span {
    font-size: 10px !important;
  }
  .berita-utama .container .berita-right .desc-berita-utama {
    width: 100% !important;
    height: 43px !important;
    margin-left: 0 !important;
    margin-top: 6.3px !important;
  }
  .berita-utama .container .berita-right .desc-berita-utama p {
    width: 100% !important;
    height: 38px !important;
    float: left;
    font-size: 15px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .berita-utama .container .berita-right .desc-berita-utama span {
    display: none !important;
  }
  .berita-utama .container .berita-right .desc-berita-utama .btn-readMore-berita-utama {
    width: 95px !important;
    height: 14px !important;
    background: transparent;
    margin-top: 0 !important;
    position: relative;
    float: left !important;
  }
  .berita-utama .container .berita-right .desc-berita-utama .btn-readMore-berita-utama span#text-btn-readMore-berita-utama {
    width: 105px !important;
    height: 14px !important;
    padding: 0 !important;
    float: left !important;
    display: block !important;
    color: #073C64 !important;
    position: relative;
  }
  .berita-utama .container .berita-right .desc-berita-utama .btn-readMore-berita-utama span#text-btn-readMore-berita-utama a {
    font-size: 10px !important;
    color: #073C64 !important;
    cursor: pointer;
  }
  .berita-utama .container .pagination {
    width: 60px !important;
    height: 23px !important;
    position: relative !important;
    display: block !important;
    float: right !important;
  }
  .berita-utama .container .pagination .prev {
    width: 25px !important;
    height: 100% !important;
    float: left !important;
    background: #073C64;
  }
  .berita-utama .container .pagination .prev img {
    width: 7.50px !important;
    height: 11.35px !important;
    margin-top: 5.75px;
    margin-bottom: 5.75px;
    margin-left: 6.8px !important;
  }
  .berita-utama .container .pagination .next {
    width: 25px !important;
    height: 100% !important;
    float: right !important;
    background: #073C64;
  }
  .berita-utama .container .pagination .next img {
    width: 7.50px !important;
    height: 11.35px !important;
    margin-top: 5.75px;
    margin-bottom: 5.75px;
    margin-left: 8.5px !important;
  }
  .berita-lainnya {
    display: none;
  }
  .gallery {
    width: 100vw;
    height: unset !important;
  }
  .gallery .container {
    max-width: 284px !important;
    margin: 0 auto;
  }
  .gallery .container span {
    height: 18px !important;
    font-size: 14px !important;
  }
  .gallery .container .pagination {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60px !important;
    height: 23px !important;
    position: relative !important;
    display: block !important;
    float: right !important;
  }
  .gallery .container .pagination .prev {
    width: 25px !important;
    height: 100% !important;
    float: left !important;
    background: #073C64;
    cursor: pointer;
  }
  .gallery .container .pagination .prev img {
    width: 7.50px !important;
    height: 11.35px !important;
    margin-top: 5.75px;
    margin-bottom: 5.75px;
    margin-left: 6.8px !important;
  }
  .gallery .container .pagination .next {
    cursor: pointer;
    width: 25px !important;
    height: 100% !important;
    float: right !important;
    background: #073C64;
  }
  .gallery .container .pagination .next img {
    width: 7.50px !important;
    height: 11.35px !important;
    margin-top: 5.75px;
    margin-bottom: 5.75px;
    margin-left: 8.5px !important;
  }
  .gallery .container .gal-img {
    width: 100% !important;
    height: 410px !important;
  }
  .gallery .container .gal-img .img-top {
    width: 100% !important;
    height: 150px;
    float: left;
    margin-top: 0 !important;
    overflow: hidden;
  }
  .gallery .container .gal-img .img-top img#myimg7,
  .gallery .container .gal-img .img-top img#myimg8 {
    width: 284PX !important;
    height: 150px !important;
    float: left;
  }
  .gallery .container .gal-img .pagination1 {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60px !important;
    height: 23px !important;
    position: relative !important;
    display: block !important;
    float: right !important;
  }
  .gallery .container .gal-img .pagination1 .prev1 {
    width: 25px !important;
    height: 100% !important;
    float: left !important;
    background: #073C64;
    cursor: pointer;
  }
  .gallery .container .gal-img .pagination1 .prev1 img {
    width: 7.50px !important;
    height: 11.35px !important;
    margin-top: 5.75px;
    margin-bottom: 5.75px;
    margin-left: 6.8px !important;
  }
  .gallery .container .gal-img .pagination1 .next1 {
    cursor: pointer;
    width: 25px !important;
    height: 100% !important;
    float: right !important;
    background: #073C64;
  }
  .gallery .container .gal-img .pagination1 .next1 img {
    width: 7.50px !important;
    height: 11.35px !important;
    margin-top: 5.75px;
    margin-bottom: 5.75px;
    margin-left: 8.5px !important;
  }
  .gallery .container .gal-img .img-bottom {
    width: 100% !important;
    height: 93px;
    float: left;
    margin-top: 20px !important;
  }
  .gallery .container .gal-img .img-bottom img {
    width: 135px !important;
    height: 93px !important;
  }
  .gallery .container .gal-img .img-bottom img#myimg9 {
    width: 135px !important;
    height: 93px !important;
    margin-left: 0 !important;
  }
  .gallery .container .gal-img .img-bottom img#myimg10 {
    width: 135px !important;
    height: 93px !important;
    margin-left: 14px !important;
  }
  .gallery .container .gal-img .img-bottom img#myimg11 {
    width: 135px !important;
    height: 93px !important;
    margin-left: 0 !important;
    display: none;
  }
  .gallery .container .gal-img .img-bottom img#myimg12 {
    width: 135px !important;
    height: 93px !important;
    margin-left: 15px !important;
    display: none;
  }
  .gallery .container .gal-img .pagination2 {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60px !important;
    height: 23px !important;
    position: relative !important;
    display: block !important;
    float: right !important;
  }
  .gallery .container .gal-img .pagination2 .prev2 {
    width: 25px !important;
    height: 100% !important;
    float: left !important;
    background: #073C64;
    cursor: pointer;
  }
  .gallery .container .gal-img .pagination2 .prev2 img {
    width: 7.50px !important;
    height: 11.35px !important;
    margin-top: 5.75px;
    margin-bottom: 5.75px;
    margin-left: 6.8px !important;
    position: relative !important;
    display: block !important;
  }
  .gallery .container .gal-img .pagination2 .next2 {
    cursor: pointer;
    width: 25px !important;
    height: 100% !important;
    float: right !important;
    background: #073C64;
  }
  .gallery .container .gal-img .pagination2 .next2 img {
    width: 7.50px !important;
    height: 11.35px !important;
    margin-top: 5.75px;
    margin-bottom: 5.75px;
    margin-left: 8.5px !important;
  }
  .gallery .button-gallery {
    position: relative !important;
    display: none !important;
    width: 84px !important;
    height: 26px !important;
    top: 100% !important;
  }
  .gallery .button-gallery a {
    padding: 0 !important;
  }
  .gallery .button-gallery a span {
    font-size: 9px;
  }
  footer {
    width: 100vw;
    height: 530px;
  }
  footer .container-two {
    max-width: 284px !important;
    margin: 0 auto;
  }
  footer .container-two .footer-menu {
    width: 100%;
    height: 472.3px;
    padding-top: 20px;
  }
  footer .container-two .footer-menu .menu {
    width: 100%;
    height: 132px;
  }
  footer .container-two .footer-menu .menu li:nth-child(1) {
    font-size: 13px;
  }
  footer .container-two .footer-menu .menu li.span-footer a {
    font-size: 12px !important;
    padding-top: 6px !important;
  }
  footer .container-two .footer-menu .menu li.span-footer:nth-child(1) {
    margin-top: 2px !important;
  }
  footer .container-two .footer-menu .contact {
    padding-top: 25px !important;
    height: 85px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  footer .container-two .footer-menu .contact li {
    font-size: 13px !important;
  }
  footer .container-two .footer-menu .followers li {
    font-size: 13px !important;
  }
  footer .container-two .footer-menu .followers li.span-footer {
    font-size: 12px !important;
  }
  footer .container-two .footer-menu .notive {
    margin-top: 20px !important;
  }
  footer .container-two .footer-menu .notive li:nth-child(1) {
    font-size: 13px !important;
  }
  footer .container-two .footer-menu .notive li:nth-child(2) {
    height: 44px !important;
  }
  footer .container-two .footer-menu .notive li:nth-child(2) input {
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 105px !important;
    float: left;
    margin-top: 11px !important;
    color: #FFFFFF;
  }
  footer .container-two .footer-menu .notive li:nth-child(2) input::-webkit-input-placeholder::-webkit-input-placeholder {
    font-family: OpenSans-Regular;
    font-size: 12px !important;
    color: #FFFFFF;
  }
  footer .container-two .footer-menu .notive li:nth-child(2) input::-moz-placeholder::-webkit-input-placeholder {
    font-family: OpenSans-Regular;
    font-size: 12px !important;
    color: #FFFFFF;
  }
  footer .container-two .footer-menu .notive li:nth-child(2) input:-ms-input-placeholder::-webkit-input-placeholder {
    font-family: OpenSans-Regular;
    font-size: 12px !important;
    color: #FFFFFF;
  }
  footer .container-two .footer-menu .notive li:nth-child(2) input:-moz-placeholder::-webkit-input-placeholder {
    font-family: OpenSans-Regular;
    font-size: 12px !important;
    color: #FFFFFF;
  }
  footer .container-two .footer-menu .notive .btn-notive {
    margin-top: 20px !important;
  }
}
